<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Histórico de {{nome}}</title>
</head>
<body background="https://image.freepik.com/fotos-gratis/textura-da-tela-azul_1253-76.jpg">
        {% if nome %}
<center>
    <font color="white", face="Arial Black">
        <h1>Bem Vindo {{nome}}</h1>
        {% else %}
        <h1>Nome não informado</h1>
        {% endif %}
    </font>
    <table border="1" bgcolor="white">
        <tr>
            <th>Matérias</th>
            <th>Notas</th>
        </tr>
        <tr>
            <td>{{ disciplinas[0][0] }}</td>
            <td>{{ disciplinas[1] }}</td>
        </tr>
        <tr>
            <td>{{ disciplinas[2][0] }}</td>
            <td>{{ disciplinas[3] }}</td>
        </tr>
        <tr>
            <td>{{ disciplinas[4][0] }}</td>
            <td>{{ disciplinas[5] }}</td>
        </tr>
    </table>
    </center>
</body>
</html>